.posts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:4px;
}

.post-item{
    width: calc(25% - 8px);
    background-color: yellow;
    color:#000;
    padding: 12px;
    min-height: 300px;
}